spring:
  application:
    name: haeil
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update

  jwt:
    secret: ${JWT_SECRET}
    access:
      token:
        expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    groups-order: desc
    tags_sorter: alpha
    operations_sorter: method
  use-fqn: true