<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="page-meta(title)">
    <meta charset="utf-8">
    <title th:text="${title} + ' | 해일 - Law Firm Case Management System'"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Hae-il is a Law Firm Case Management System.">
    <meta name="keywords"
          content="Hae-il, law firm, case management, legal">
    <meta name="author" content="Hae-il">

    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">
</th:block>
</html>